@model IEnumerable<Bil372_Homework.Models.Conference>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

    <div class="w3-container">
        <h2>My Conference List</h2>
        <p>Chair olduğu konferanslar ve Makale gönderdiği konferanslar</p>
        <table class="w3-table w3-striped w3-border">
            <tr>
                <th>ConferenceID</th>
                <th>CreationDateTime</th>
                <th>Name</th>
                <th>ShortName</th>
                <th>Year</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>SubmisionDeadline</th>
                <th>CreatorUser</th>
                <th>WebSite</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.ConfID</td>
                    <td>@x.CreationDateTime</td>
                    <td>@x.Name</td>
                    <td>@x.ShortName</td>
                    <td>@x.Year</td>
                    <td>@x.StartDate</td>
                    <td>@x.EndDate</td>
                    <td>@x.SubmisionDeadline</td>
                    <td>@x.CreatorUser</td>
                    <td>@x.WebSite</td>
                </tr>

            }

        </table>
    </div>

</body>
<br />
<style>
    body {
        font-family: Arial;
    }

    * {
        box-sizing: border-box;
    }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

        form.example button:hover {
            background: #0b7dda;
        }

    form.example::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
</head>
<body>

    <h2>Conference Searcher</h2>

    <p>Arama Yapabilirsiniz:</p>
    <form class="example" action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>


</body>
</html>