@model Bil372_Homework.Models.Conference

@{
    ViewBag.Title = "Create";
	Layout = "~/Views/_LayoutPage1.cshtml";
}


<head>

	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	@using (Html.BeginForm())
	{
	@Html.AntiForgeryToken()

	<div class="form-horizontal align-items-center">
		<h4>Create New Conference</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-row">
			<div class="form-group">
				@Html.LabelFor(model => model.CreationDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CreationDateTime, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CreationDateTime, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group">
				@Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
				</div>
			</div>


			<div class="form-group">
				@Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group">
				@Html.LabelFor(model => model.SubmisionDeadline, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.SubmisionDeadline, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.SubmisionDeadline, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.CreatorUser, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CreatorUser, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CreatorUser, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.WebSite, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</div>
	</div>
	}

	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
</body>